#game-bg {
background-color: rgba(0, 0, 0, 0.24);
padding: 10px 0 10px;
border: black 2px solid;
}
#character-box {
display: flex;
max-width: 85%;
height: 100%;
margin: 0 auto;
padding: 0 0 10% 0;
justify-content: space-evenly;
text-align: center;
position: relative;

}
