#game-bg {
background-color: rgba(0, 0, 0, 0.24);
padding: 10px 0 10px;
border: black 2px solid;
}
#character-box {
display: flex;
max-width: 50%;
margin: 0 auto;
justify-content: space-evenly;
text-align: center;
position: relative;
}
#attacks {
    position: sticky;
    margin-top: 10%;
    bottom: 0;
}
#player-img {
    height: auto;
    width: 45%;
}
#enemy-img {
    height: auto;
    width: 100%;
}